/* Custom CSS */
.btn-small {
  padding: 0.125rem 0.25rem;
  font-size: 0.875rem;
}

.btn-small svg, .btn-small i {
  width: 16px;
  height: 16px;
}

.chatbox {
  background-color: #140c27;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 20px;
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
  flex-direction: column;
}

.chatbox-form {
  background-color: #140c27;
}